html{
  background: black;
}
.BoardList{
  position: relative;
  top: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  overflow-y: scroll;
}
.BoardItem{
  display: flex;
  flex-direction: row;
  padding: 2rem;
  border-bottom: 1px solid black;
}
.BoardItem>input{
  outline: none;
  border: none;
  font-size: 1.5em;
}
.BoardItem>.number{
  margin: 1em;
}
.BoardItem button{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}
.ItemInput{
  position:fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: gray;
}
.ItemInput>form{
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ItemInput>form>*{
  padding: 1rem;
  margin: 1rem;
}
.ItemInput>form>input{
  width: 18em;
}
